<h3>ユーザー一覧</h3>

<% @users.each do |user| %>
  <hr>

    <section class="card">
    <%= image_tag user.picture.to_s, class:"card-img"%>
  <div class="card-content">
    <p class="card-text">

            </p>
  </div>
  <div class="card-link">
              <span>名前▼</span>
        <br>
      <h3><%=link_to user.username, user_path(user.id) %></h3>
          <% if current_user != user %>
        <% if user.followed_by?(current_user) %>
            <p><%=link_to "フォロー済み", user_relationships_path(user.id), method: :delete %></p>
        <% else %>
            <p><%=link_to "フォローする", user_relationships_path(user.id), method: :post %></p>
        <% end %>
    <% end %>
  </div>
</section>   
 
<% end %>

<%= paginate @users %>