<br>
<br>
<br>
<h3><span>名前</span><%= @user.username %></h3>
<%= image_tag @user.picture.to_s, class: "img-thumbnail" %>
<p><%=link_to "フォロー", follows_user_path(@user.id) %></p>
<p><%=link_to "フォロワー", followers_user_path(@user.id) %></p>
<% if current_user != @user %>
    <% if @user.followed_by?(current_user) %>
        <p><%=link_to "フォロー済み", user_relationships_path(@user.id), method: :delete %></p>
    <% else %>
        <p><%=link_to "フォローする", user_relationships_path(@user.id), method: :post %></p>
    <% end %>
<% end %>

    <!--　user_signed_in?/ユーザーがサインイン済かどうかを判定する
        user.id == current_user.id
        サインインしているユーザー.idと@user.idが一致しているか？を判定　-->
    <% if user_signed_in? && @user.id == current_user.id %>
      <div><%= link_to "へんしゅう", edit_user_registration_path(current_user),
        class: "btn btn-primary" %></div>
      <%= link_to "とうこうする", root_path, class: "btn btn-primary" %>
    <% end %>

  <br>


<section class="card">
  <div class="card-content">
    <p class="card-text">
        <% @posts.each do |post| %>
        <span>タイトル▼</span>
        <br>
      <h3><%=link_to post.title, post_path(post.id)%></h3>
            <span>ブログ内容▼</span>
      <br>
    <p><%= link_to post.body, post_path(post.id) %></p>
    </p>
  </div>
  <div class="card-link">
      <% end %>
  </div>
</section>   
<%= paginate @posts %>

<section class="card">
  <div class="card-content">
    <p class="card-text">
<% @favorite_posts.each do |post| %>
  <hr>
    <p>いいね▼</p>
  <p><%=link_to post.title, post_path(post.id) %></p>
<% end %>
    </p>
  </div>
  <div class="card-link">
  </div>
</section>   

<%= paginate @favorite_posts %>
