<h1>Posts#index</h1>

<% @posts.each do |post| %>
<%= image_tag post.image.to_s, class:"card-img"%>
  <hr>
<p><span>メール</span><%=link_to post.user.email, user_path(post.user.id) %></p>
<p>ブログ内容▼</p>
  <p><%=link_to post.body, post_path(post.id) %></p>


  <% if user_signed_in? %>
    <% if post.favorited_by?(current_user) %> 
        <p>いいね解除▼</p>
        <p><%=link_to post.favorites.count, post_favorites_path(post.id), method: :delete %></p>
    <% else %>
        <p>いいね登録▼</p>
        <p><%=link_to post.favorites.count, post_favorites_path(post.id), method: :post %></p>
    <% end %>

    <% if current_user != post.user %>
        <% if post.user.followed_by?(current_user) %>
            <p><%=link_to "フォロー済み", user_relationships_path(post.user.id), method: :delete %></p>
        <% else %>
            <p><%=link_to "フォローする", user_relationships_path(post.user.id), method: :post %></p>
        <% end %>
    <% end %>

  <% else %>
    <p>お気に入り数▼</p>
    <p><%= post.favorites.count %></p>
  <% end %>

<% end %>
