<h2><%= @post.title %></h2>
<% if user_signed_in? && @post.user_id == current_user.id %>
<%= link_to("編集", "/posts/#{@post.id}/edit", class: "btn btn-primary") %>
<% end %>

<br>    
<h3><%= @post.title %></h3>

<br>
    <!--　１タブ　-->
<h3><%= @post.second_title %></h3>
<%= image_tag @post.second_image.to_s, class:"card-img"%>
<p><%= @post.second_body %></p>
<a href= "<%= @post.second_link %>" ><%= @post.second_link %></a>
    <!--　２タブ　-->
<h3><%= @post.third_title %></h3>
<%= image_tag @post.third_image.to_s, class:"card-img"%>
<p><%= @post.third_body %></p>
<a href= "<%= @post.third_link %>" ><%= @post.third_link %></a>
    <!--　３タブ　-->
<h3><%= @post.fourth_title %></h3>
<%= image_tag @post.fourth_image.to_s, class:"card-img"%>
<p><%= @post.fourth_body %></p>
<a href= "<%= @post.fourth_link %>" ><%= @post.fourth_link %></a>  
    <!--　４タブ　-->
<h3><%= @post.fifth_title %></h3>
<%= image_tag @post.fifth_image.to_s, class:"card-img"%>
<p><%= @post.fifth_body %></p>
<a href= "<%= @post.fifth_link %>" ><%= @post.fifth_link %></a>
    <!--　５タブ　-->
<h3><%= @post.sixth_title %></h3>
<%= image_tag @post.sixth_image.to_s, class:"card-img"%>
<p><%= @post.sixth_body %></p>
<a href= "<%= @post.sixth_link %>" ><%= @post.sixth_link %></a>
<br>
<% if user_signed_in? && @post.user_id == current_user.id %>
<%= link_to("編集", "/posts/#{@post.id}/edit", class: "btn btn-primary") %>
<div class="btn btn-primary">
   <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
</div>

<% end %>

<p><span>名前：</span><%=link_to @post.user.username, user_path(@post.user.id) %></p> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="footer_fix_btn">
    <div class="pc">
  <%= link_to "新規投稿", new_post_path, class: "btn btn-primary btn-lg" %>
    </div>
<%= link_to 'Twitterにシェアする！', "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank', class: "btn btn-primary" %>
    OGI.ver by <a href="https://twitter.com/sim_niigata">オギギ＠ブログ▶︎エンジニア<i class="fab fa-twitter"></i></a>
</div>